

.home-coming h1 {
    padding: 2rem;
    font-size: 2.5rem;
}

table{
    width: 700px;
    font-size: 1.5rem;
}
.table{
    display: flex;
    justify-content: center;
}

th{
    text-align: left;
    
}

table, th, td{
    border: 1px solid black;
    border-collapse:collapse ;
}
th, td{
    padding: 1rem;
}
.add{
    display: block;
}
.add button {
    padding: .5rem;
    margin-top: 1rem;
    margin-left: 10rem;
    background-color: rgb(39, 39, 39);
    color: #ffffff;
    border-radius: 1rem;
}